}
.wrapper {
    max-width: 120rem;
    margin: 0 auto;
}
.header {
    background-color: #FED100;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.9375rem 22.5rem 0rem 16.875rem;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
}
.header-item {
    margin-right: 2.875rem;
}
.header-item:last-child {
    margin-right: 0;
}
.nav-numb {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: space-between;
}
.header_logo-link {
    position: relative;
}
.header_logo-pic {
    position: absolute;
    right: 13.125rem;
    bottom: 1px;
}
.header-link {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #333333;
    text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: 75%;
    color: red;
}
.nav-header-list {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}
.nav-header-list a {
    color: #333333;
}
.wrapper-info {
    display: flex;
    flex-direction: column;
    padding: 3.9375rem 0px 0px 16.75rem;
    position: relative;
}
.inrto-title {
    font-weight: bold;
    font-size: 4.0625rem;
    line-height: 126.9%;
    width: 30rem;
}
#title-style {
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 1.25rem;
    padding-top: 1.4375rem;
    padding-bottom: 3.125rem;
    width: 21.25rem;
}
#btn {
    width: 19rem;
    height: 3.75rem;
    background-color: #FF352B;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #F2F2F2;
    z-index: 2;
}
.while-border {
    border: 0.125rem solid #F2F2F2;
    box-sizing: border-box;
    position: absolute;
    width: 19rem;
    height: 3.75rem;
    top: 20.562rem;
    left: 17.1875rem;
    z-index: 1;
}
.img-truck {
    width: 2.9375rem;
    Height: 2.25rem;
}
.info-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6.9375rem;
    margin-right: 12.5rem;
    padding-top: 4.8125rem;
    width: 43.75rem;
}
.info-list {
    line-height: 1, 3125rem;
    margin-right: 2.5rem;
    margin-left: 0.25rem;
}
.human {
    position: absolute;
    width: 23.8125rem;
    height: 38rem;
    left: 41rem;
    z-index: 1;
}
.logo-logo-test {
    position: relative;
}
.man-car {
    position: absolute;
    left: 49.125rem;
    top: 8.75rem;
    z-index: 0;
}
.phone-car {
    position: absolute;
    left: 92.5rem;
    top: 29.1875rem;
    z-index: 3;
}
.phone-eclipse-one {
    position: absolute;
    top: 27.625rem;
    left: 91.0625rem;
    z-index: 2;
}
.phone-eclipse-two {
    position: absolute;
    left: 89.9375rem;
    top: 26.5625rem;
    z-index: 1;
}
.Move-nav {
    position: absolute;
    left: 65.625rem;
    top: 32.625rem;
    z-index: 5;
}

/* first section*/
.list-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-left: 920px;
    padding-top: 95px;
    width: 334px;
    height: 37px;
}