.header {
    background-color: #FED100;
}

.wrapper {
    margin-left: 16%;
    margin-right: 16%;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 4%;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin-left: 2.1875rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.wrapper-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 7%;
}

.info-title {
    font-weight: bold;
    font-size: 4.375rem;
    line-height: 126.9%;
    width: 30rem;
}

.info-title-two {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.3125rem;
    margin-top: 1%;
    width: 21.4375rem;
}

.header-phone-info {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.header-list:last-child {
    margin-right: 0;
}

.btn {
    width: 19rem;
    height: 3.75rem;
    background-color: #FF352B;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #F2F2F2;
    z-index: 2;
    border-color: #FF352B;
    position: relative;
}

.wrapper-for-btn {
    position: relative;
    margin-top: 4%;
}

.btn:hover {
    background: #FF772B;
    transition: 0.5s;
    box-shadow: 0.625rem 10.625rem 0px #F2F2F2;
}

.btn-shadow {
    position: absolute;
    width: 19rem;
    height: 3.75rem;
    top: 0.7rem;
    left: 0.4rem;
    border: 2px solid #F2F2F2;
    z-index: 0;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    margin-bottom: 5%;
}

.info-list {
    line-height: 1.3125rem;
    margin-right: 2.5rem;
    margin-left: 0.25rem;
}

.logo-man {
    position: absolute;
    left: 46%;
    bottom: 0.0625rem;
    z-index: 1;
    width: 23.8125rem;
    height: 38rem;
}

.logo-car {
    position: absolute;
    left: 69%;
    bottom: 24%;
    z-index: 0;
    width: 31.1875rem;
    height: 18.75rem;
}

.phone-eclipse-one {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(61, 155, 233, 0.3);
    z-index: 1;
    width: 8.5rem;
    height: 8.6rem;
    border-radius: 50%;
    left: 87%;
    bottom: 7%;
}

.phone-eclipse-two {
    background: rgba(61, 155, 233, 0.8);
    z-index: 2;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-eclipse-two::before {
    content: url(../img/phone.png);
}

.phone-eclipse-two:hover {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #3d9be9;
}

.nav-link:hover,
.nav-link:focus,
.header-phone-info:hover,
.nav-link:active {
    opacity: 75%;
    color: red;
}

.header-phone-info a {
    color: #333333;
}

.nav-link {
    color: #333333;
    text-decoration: none;
}

.burger-menu {
    display: none;
}

@media (max-width: 320px) {
    .wrapper {
        width: 100%;
        height: 37.4375rem;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-list,
    .header-phone-info,
    .header-phone-info,
    .info-box,
    .btn-shadow,
    .phone-eclipse-one,
    .logo-car {
        display: none;
    }
    .wrapper-info {
        flex-direction: column;
        font-size: 1.25rem;
    }
    .header_logo-pic {
        margin-left: 1rem;
        padding-top: 1.25rem;
    }
    .info-title {
        font-size: 1.75rem;
        line-height: 131.9%;
        margin-left: 4.125rem;
    }
    .info-title-two {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.375re;
        margin-left: 4.125rem;
    }
    .wrapper-for-btn {
        margin-top: 20rem;
        margin-left: 0.5625rem;
    }
    .human-img {
        position: absolute;
        width: 15rem;
        height: 23.125rem;
        right: 15rem;
        top: 9.6875rem;
    }
    .burger-menu {
        width: 2.625rem;
        height: 0.9375rem;
        display: block;
        margin-top: 0.9375rem;
        margin-right: 0.625rem;
    }
}